*{
    margin: 0px;
    padding: 0px;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    list-style: none;
    padding: 20px;
}
.list1{
    display:flex;
    gap: 20px;
    font-size: larger;
    cursor: pointer;
}
.home:hover{
    color: beige;
}
.midbar{
    background-image: url(./img3/background.jpg),
    linear-gradient(rgba(19, 18, 18, 0.2),rgba(5, 5, 5, 0.5));
    background-blend-mode: overlay;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    color: white;
   
    
    
  
}
span{
    color: red;
}
.pera1{
    font-size: 30px;
   
}
.text1{
    margin-left: 560px;
    margin-bottom: -90px;
}
.btndm{
    padding: 20px;
    background-color: red;
    font-size: 20px;
    border: none;
    cursor: pointer;

}
.btnhn{
    padding: 20px;
    background-color: gainsboro;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
main{
    background-image: url(./img3/footer-bg.png);
    background-color: rgba(0, 0, 0, 0.952);
    background-blend-mode: overlay;
    height: 100vh;
    color: white;
    

}
.sl{
    display: flex;
    width: 600px;
    margin-left: 300px;
    
    
         
}
.help{
    margin-top: 20px;
    font-size: 40px;
}
.btnservice{
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 300px;

}
.pera3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ol{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ceo{
    width: 100px ;
    border: none;
    border-radius: 50%;
}
.intro{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.more{
 width: 100px;
 padding: 10px;
 text-align: center;
 font-size: 10px;
 font-weight: bold;
    
 
 
    
    
}
.info{
    display: flex;
    align-items: center;
    gap: 80px;;}

    .webimg{
        width: 70px;
        margin-bottom: 20pxpx;
        margin-top:10px ;
    }
.boxs{
    width: 100px;
    height: 100px;
    padding: 80px;
    background-color: white;
    color: black;
    margin-bottom: 100px;
    margin-left: 30px;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    
}
.box{
    display: flex;
    align-items: center;
    margin-left: 300px;
    border:none;
    margin-top: 20px;
    
    
}
.conteinar{
    margin-top: 210px;
}

.com{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    margin: 200px;
    padding: 10px;
margin-top: -0.1px;
border-radius: 50px;
.pnmg{
   width: 200px;}
